@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
$navbar_font_size: 1rem;
$main_text_color: rgb(0, 38, 255);
$navbar_background_color: rgba(
  $color: #000000,
  $alpha: 0.4,
);
* {
  font-family: "Poppins", sans-serif;
}
.navbar {
  font-size: $navbar_font_size;
  //main navbar styling
  // position: fixed;
  @include flex-between;
  width: 100vw;
  padding: 2rem 10vw;
  color: $main_text_color;
  font-weight: 600;
  z-index: 1;
  transition: 0.4s ease-out;
  top: 0;
  left: 0;
  background-color: inherit;
  background-image: inherit;

  &__logo {
    &__title {
      display: block;
      text-align: center;
      color: rgb(0, 132, 255);
      font-size: 2rem;
    }
    &__text {
      color: red;
      text-decoration: none;
    }
  }

  &__links {
    @include flex-between;
    list-style: none;
    &--li > a {
      text-decoration: none;
      color: inherit;
      margin: 0rem 2rem;

      padding: 1rem 0.5rem;
      &:hover {
        color: rgb(233, 102, 102);
      }
    }
    &--li #selected {
      color: rgb(204, 18, 18);
      font-weight: 700;
    }
  }
  &__icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      background-color: black;
      border-radius: 4px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background-color: black;
        transition: background-color 0.8s ease;
      }
      &:before {
        transform: translateY(-5px);
      }
      &:after {
        transform: translateY(5px);
      }
    }
  }
  #navbar__btn {
    display: none;
  }
  //add a class for the scroll effect
  &.scroll {
    height: 50px;
    background-color: $navbar_background_color;
    color: white;
  }
}

@media (max-width: 1000px) {
  .navbar {
    &__links {
      &--li > a {
        margin: 0 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    &.scroll {
      height: 100px;
      & .navbar__icon {
        margin-top: 2rem;
      }
      & .navbar__logo {
        margin-top: 2rem;
      }
    }

    &__links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      color: white;
      background-color: #272727;
      transition: opacity 1.5s 0.2s, clip-path 2s 0.2s;
      clip-path: circle(200px at top right);
      //add the transition of each nav_link
      &--li {
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;
        transition: opacity 0.4s ease-in-out,
          transform 1s cubic-bezier(0.175, 0.005, 0.32, 1.275);
        a {
          display: block;
          padding: 2rem 0;
        }
        //changing the dely time of each li

        &:nth-of-type(1) {
          transition-delay: 0.2s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.3s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.4s;
        }
        &:nth-of-type(4) {
          transition-delay: 0.5s;
        }
      }
    }

    &__icon {
      //x animation of navbar
      &__line {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse;
        &::before {
          animation: closedTop 0.8s backwards;
          animation-direction: reverse;
        }
        &::after {
          animation: closedBtm 0.8s backwards;
          animation-direction: reverse;
        }
      }
      display: block;
      &__line,
      &__line::after,
      &__line::before {
        background-color: black;
        width: 30px;
        height: 3px;
      }
      &__line:before {
        transform: translateY(-10px);
      }
      &__line:after {
        transform: translateY(10px);
      }
    }
    //the sibling selector selects only siblings after itself
    &__btn:checked ~ .navbar__links {
      opacity: 1;
      //circle animation
      clip-path: circle(100% at center);
      li {
        //transition of li
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out 1s,
          transform 0.6s cubic-bezier(0.175, 0.005, 0.32, 1.275);
        //control the tranisition of each li
        &:nth-of-type(1) {
          transition-delay: 0.7s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.8s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.9s;
        }
        &:nth-of-type(4) {
          transition-delay: 1s;
        }
      }
    }
    &__btn:checked ~ .navbar__icon {
      border-radius: 50%;
      animation: pulse 1s;

      //changing the color of the burger menu
      .navbar__icon__line {
        transition: 0.4s ease-in-out;

        background-color: white;
        //adding the animation for the opening of the navbar
        animation: openMid 0.8s forwards;
        &::before {
          background-color: white;
          animation: openTop 0.8s forwards;
        }
        &::after {
          background-color: white;
          animation: openBtm 0.8s forwards;
        }
      }
    }
  }
}
